!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    .container
      .content
        .login-title
          %h1= brand_title
    %hr
    .container
      .content
        = render "layouts/flash"
        .row
          .col-md-7.brand-holder
            - if brand_item
              .brand-image
                = brand_image
              .brand_text
                = brand_text
            - else
              .brand-image.default-brand-image.hidden-sm.hidden-xs
                = image_tag 'brand_logo.png'
              .brand_text.hidden-xs
                %h2 协作 分享 开放 共赢

                %p.lead
                  * 做最好的嵌入式项目托管平台。
                  * 使用当今最流行的分布式版本控制系统Git来有效管理您的项目
                  * 创客协作的最好平台，无论是在公司在家里，随时随地开启工作
          .col-md-5
            = yield
    %hr
    .container
      .footer-links
        = link_to "浏览", explore_root_path
        = link_to "文档", "#"
        = link_to "关于", "#"
